.covers {
    width: 1110px;
    height: 100%;
    top: 323px;
    left: 165px;
    gap: 0px;
    opacity: 0px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    margin: 0 auto;
}

.covers_header {
    margin-bottom: 22px;    
}

/* .tittle_2 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #838383;
    ;
    
} */

.covers_cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
    /* text-align: center; */
    column-gap: 30px;
}